In [1]:
from usempl_plots import usempl_streaks as usempl_streaks
from usempl_plots import usempl_npp as usempl_npp
from usempl_plots import tseries_payems as tseries_payems

## Plot US Employment Streaks: line plot and histogram

In [4]:
(
    fig_lst_strk, beg_date_strk_str, end_date_strk_str, strk_table_df
) = usempl_streaks(
    indicate_recent_line=(
        "Current streak (48 months): \n 2021-01 to 2024-10",
        70, 270, 30, 19_200_000, 42, 17_200_000
    ),
    indicate_recent_scat=(
        "Current streak (48 months): \n 2021-01 to 2024-10",
        120, 150, 40, 680_000, 44.7, 430_000
    )
)

Beginning date of U.S. employment series is 1939-01-01
End date of U.S. employment series is 2024-12-01
PAYEMS data downloaded on 2025-01-21 and has most recent PAYEMS data month of 2024-12-01.
Number of streaks: 83

Print a table of all streaks.

    strk_num start_date end_date  months_in_streak  total_emp_gain  \
0          1    1939-02  1939-03                 2        357000.0
1          2    1939-05  1939-06                 2        408000.0
2          3    1939-08  1940-03                 8       1406000.0
3          4    1940-05  1940-06                 2        276000.0
4          5    1940-08  1943-04                33      10705000.0
..       ...        ...      ...               ...             ...
78        79    2010-03  2010-05                 3        943000.0
79        80    2010-08  2010-08                 1          3000.0
80        81    2010-10  2020-02               113      21969000.0
81        82    2020-05  2020-11                 7      12340000.0
82        83    2021-01  2024-12                48      17018000.0

    avg_monthly_emp_gain
0           1.785000e+05
1           2.040000e+05
2           1.757500e+05
3           1.380000e+05
4           3.243939e+05
..                   ...
78          3.143333e+05
79          3.000000e+03
80          1.944159e+05
81          1.762857e+06
82          3.545417e+05

[83 rows x 6 columns]

Print a table of streaks with +40 months or +10,000,000 jobs.

    strk_num start_date end_date  months_in_streak  total_emp_gain  \
80        81    2010-10  2020-02               113      21969000.0
82        83    2021-01  2024-12                48      17018000.0
59        60    1986-07  1990-06                48      10702000.0
76        77    2003-09  2007-06                46       7919000.0
53        54    1975-07  1979-03                45      12958000.0
4          5    1940-08  1943-04                33      10705000.0
81        82    2020-05  2020-11                 7      12340000.0

    avg_monthly_emp_gain
80          1.944159e+05
82          3.545417e+05
59          2.229583e+05
76          1.721522e+05
53          2.879556e+05
4           3.243939e+05
81          1.762857e+06

    strk_num start_date end_date  months_in_streak  total_emp_gain  \
5          6    1943-06  1943-06                 1        185000.0
13        14    1948-03  1948-03                 1        150000.0
20        21    1952-02  1952-02                 1        226000.0
25        26    1954-04  1954-04                 1         22000.0
27        28    1956-08  1956-08                 1        676000.0
33        34    1959-09  1959-09                 1         92000.0
35        36    1960-04  1960-04                 1        359000.0
36        37    1961-03  1961-03                 1        102000.0
43        44    1969-10  1969-10                 1        207000.0
44        45    1969-12  1969-12                 1        155000.0
46        47    1970-07  1970-07                 1         24000.0
47        48    1970-09  1970-09                 1          7000.0
51        52    1974-10  1974-10                 1         20000.0
52        53    1975-05  1975-05                 1        164000.0
56        57    1983-01  1983-01                 1        219000.0
60        61    1991-06  1991-06                 1         88000.0
70        71    2001-02  2001-02                 1         87000.0
72        73    2002-08  2002-08                 1          2000.0
73        74    2002-10  2002-10                 1        123000.0
74        75    2003-01  2003-01                 1        111000.0
75        76    2003-05  2003-05                 1         20000.0
79        80    2010-08  2010-08                 1          3000.0

    avg_monthly_emp_gain
5               185000.0
13              150000.0
20              226000.0
25               22000.0
27              676000.0
33               92000.0
35              359000.0
36              102000.0
43              207000.0
44              155000.0
46               24000.0
47                7000.0
51               20000.0
52              164000.0
56              219000.0
60               88000.0
70               87000.0
72                2000.0
73              123000.0
74              111000.0
75               20000.0
79                3000.0

## Plot US Employment Normalized Peak Plot

In [5]:
fig_npp, end_date_npp_str = usempl_npp()

/Users/richardevans/Docs/Economics/OSE/DataViz/usempl-plots/usempl_plots/usempl_npp.py:147: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  usempl_df["PAYEMS"].iloc[:242] = (
/Users/richardevans/Docs/Economics/OSE/DataViz/usempl-plots/usempl_plots/usempl_npp.py:147: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usempl_df["PAYEMS"].iloc[:242] = (
BokehDeprecationWarning: 'toggleable' was deprecated in Bokeh 3.4.0 and will be removed, use 'visible' instead.

End date of U.S. employment series is 2024-12-01
peak_val 0 is 31324.0 on date 1929-07-01 (Beg. rec. month: Aug 1929 )
peak_val 1 is 31011.0 on date 1937-07-01 (Beg. rec. month: May 1937 )
peak_val 2 is 41897.0 on date 1945-02-01 (Beg. rec. month: Feb 1945 )
peak_val 3 is 45294.0 on date 1948-09-01 (Beg. rec. month: Nov 1948 )
peak_val 4 is 50536.0 on date 1953-07-01 (Beg. rec. month: Jul 1953 )
peak_val 5 is 53128.0 on date 1957-08-01 (Beg. rec. month: Aug 1957 )
peak_val 6 is 54813.0 on date 1960-04-01 (Beg. rec. month: Apr 1960 )
peak_val 7 is 71451.0 on date 1970-03-01 (Beg. rec. month: Dec 1969 )
peak_val 8 is 78636.0 on date 1974-07-01 (Beg. rec. month: Nov 1973 )
peak_val 9 is 90994.0 on date 1980-03-01 (Beg. rec. month: Jan 1980 )
peak_val 10 is 91601.0 on date 1981-07-01 (Beg. rec. month: Jul 1981 )
peak_val 11 is 109857.0 on date 1990-06-01 (Beg. rec. month: Jul 1990 )
peak_val 12 is 132786.0 on date 2001-02-01 (Beg. rec. month: Mar 2001 )
peak_val 13 is 138397.0 on date 2008-01-01 (Beg. rec. month: Dec 2007 )
peak_val 14 is 152309.0 on date 2020-02-01 (Beg. rec. month: Feb 2020 )
PAYEMS data downloaded on 2025-01-21 has most recent PAYEMS data month of 2024-12-01.

## Plot US Employment Time Series

In [6]:
fig_tser, beg_date_tser_str, end_date_tser_str = tseries_payems.gen_payems_tseries()

Beginning date of U.S. employment series is 1919-07-01
End date of U.S. employment series is 2024-12-01
PAYEMS data downloaded on 2025-01-21 and has most recent PAYEMS data month of 2024-12-01.